<div class="wrapper">
  <header class="header">
    <nav class="headerNav">
      <ul>
        <li><i class="fa fa-user-circle fa-1x" aria-hidden="true"> </i><a href='#'>About Us</a></li>
        <li><i class="fa fa-paint-brush fa-1x" aria-hidden="true"> </i><a href='#'>Themes</a></li>
        <li><i class="fa fa-handshake-o fa-1x" aria-hidden="true"> </i><a href='#'>Contact Us</a></li>
      </ul>
    </nav>
    <div class="mediaLinks">
      <ul>
        <li><a href='#'><i class="fa fa-facebook-square fa-1x" aria-hidden="true"> </i></a></li>
        <li><a href='#'><i class="fa fa-google-plus-square fa-1x" aria-hidden="true"> </i></a></li>
        <li><a href='#'><i class="fa fa-twitter-square fa-1x" aria-hidden="true"> </i></a></li>
      </ul>
    </div>
    <div class="login">
      <button type="button" class="btn btn-default" (click)="openModal()">Login</button>
    </div>
  </header>
  <div class="content">
    <h1 id="text1">
       Welcome To My Website
    </h1>
  </div>
</div>

